*{
    box-sizing: border-box;
}

body{
    background-color: #CAD5E2;
    font-family:'Open Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h2{
color: #333;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    
}

.btn,.btn-submit{
    color: white;
    background-color: rgb(96, 98, 223);
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
