@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.theme-light {
  --memory-btn: #757575;
  --dng-btn: #ff6363;
  --bg-color-1: #ffc3a0;
  --bg-color-2: #ffafbd;
  --bg-box: rgb(243, 234, 234);
  --btn-color: #333;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ffafbd; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    var(--bg-color-1),
    var(--bg-color-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items {
  background-color: var(--bg-box);
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0;
}
.items:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}

#screen {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  text-align: right;
  font-weight: 600;
  -webkit-box-shadow: inset 2px 2px 10px -2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 2px 2px 10px -2px rgba(0, 0, 0, 0.48);
  box-shadow: inset 2px 2px 10px -2px rgba(0, 0, 0, 0.48);
}

input {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.theme {
  background-color: var(--color-calc-body);
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 3px 5px;
  margin-left: 50px;
}

.trigonometry {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 50px;
  min-width: 50px;
  color: var(--btn-color);
  font-size: 0.9rem;
  margin: 0;
  transition: ease-in-out 0.3ms;
  transition-property: all;
  border: 1px solid rgb(235, 222, 222);
}
.btn:active {
  transform: scale(0.8);
}

.btn:hover {
  background-color: rgb(26, 24, 24);
  color: white;
}
.memory button:nth-child(1) {
  color: var(--memory-btn);
  font-weight: 500;
  font-size: 0.9rem;
}
.memory button:nth-child(2) {
  color: var(--memory-btn);
  font-weight: 500;
  font-size: 0.9rem;
}
.memory button:nth-child(3) {
  font-weight: 600;
  font-size: 0.9rem;
}
.memory button:nth-child(4) {
  font-weight: 600;
  font-size: 0.9rem;
}
.memory button:nth-child(5) {
  font-weight: 600;
  font-size: 0.9rem;
}

.btn-equl {
  background-color: rgb(130, 141, 238);
}

.num-btn {
  font-weight: bold;
}

.function-btn {
  margin-top: 5px;
  display: flex;
  outline: none;
  border: none;
}
.tbtn {
  outline: none;
  border: none;
  font-size: small;
}

.dropdown-menu {
  outline: none;
  border: none;
}
.trigBtn {
  font-weight: 600;
  font-size: small;
  background-color: rgb(241, 241, 241);
}
.function-ml {
  margin-left: 15px;
}

.clearBtn:hover {
  background-color: var(--dng-btn);
}

.subDisplay {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: none;
  outline: none;
  text-align: right;
  font-size: 1rem;
  -webkit-box-shadow: inset 2px 2px 5px -2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 2px 2px 5px -2px rgba(0, 0, 0, 0.48);
  box-shadow: inset 2px 2px 5px -2px rgba(0, 0, 0, 0.48);
}

.form-control {
  font-size: 0.7rem;
  font-weight: 500;
  user-select: none;
}

.dropdown-item {
  width: 100%;
  height: 30px;
  text-align: left;
}
